[user]
    email = johnnyadsantos@gmail.com
    name = Johnny Santos
	signingkey = 76AC83F1AA149FF9CB1EE8F8F6B94BACB8DF2685
[alias]
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    st = status
[credential]
	helper = cache --timeout=300
[core]
	autocrlf = input
	editor = vim
[help]
	autocorrect = 5
[commit]
	gpgsign = true
[push]
	default = matching
